:root {
  --palette-white: #ffffff;
  --palette-slate-50: #f3f5f7;
  --palette-slate-100: #e2e7ec;
  --palette-slate-300: #bdc9d4;
  --palette-slate-600: #627182;
  --palette-slate-900: #17212b;
  --palette-green-300: #93c7ac;
  --palette-green-50: #edf7f0;
  --palette-green-100: #dcefe2;
  --palette-green-700: #147c46;
  --palette-green-800: #106438;
  --palette-red-700: #a12525;
}
